<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tutorial Surge.js</title>
<script src="../surge.js"></script>
</head>
<body>
    <div id="main"></div>
    <script id="index" type="text/template">
        {% if items %}
        <ul>
        {% for item in items %}
            <li><a href="">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </script>
    <script>
        var data = {items:[
            {url:'learning.html', name:'Learning'},
        ]}
        document.getElementById('main').innerHTML = surge.get_template('index').render(data);
    </script>
</body>
</html>
